@import "tailwindcss";


@theme {
      --font-Inter: "Inter", sans-serif;
      --color-background: #131313;
      --color-white80: #d0d0d0;
      --color-white40: #717171;
      --color-white30: #616161;
      --color-white20: #424242;
      --color-white10: #292929;
      --color-orange: #e17100;
      --color-bright-orange: #FF8509;
      --color-white: #ffffff;



      --breakpoint-xs:375px;
      --breakpoint-3xl:1920px;
      
}

.grid-bg {
      background-image:

            /* up down */
            linear-gradient(to right, rgba(255, 255, 255, 0.06) 1px, transparent 1px),


            /* left right */
            linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px);

      background-size: 40px 40px;
      background-attachment: fixed;
}




.grid-bg-desktop {
      background-image:

            /* up down */
            linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),


            /* left right */
            linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);

      background-size: 40px 40px;
      background-attachment: fixed;
}








:root{
      color-scheme: dark;
      line-height: 19px;
      /* line-height: normal; */
}




body{
      color: #717171;
      font-family: var(--font-Inter);
}




.switchMobile{
      display: block;
}

.switchDesktop{
      display: none;
}



@media (max-width:1024px) {
      

      .switchMobile{
            display: block;
      }


      .switchDesktop{
            display: none;
      }
}

@media (min-width:1024px){

      .switchMobile{
            display:none;
      }

      .switchDesktop{
            display:block;
      }
}
